{% extends '_base.html' %}
{% load i18n %}

{% block title %}
Login
{% endblock title %}

{% block content %}

<div class="container mx-auto">
    <h1 class="text-center text-4xl font-bold text-gray-700 my-8 py-6">
        {% trans "Sign in" %}
    </h1>

    <form method="post" class="w-96 mx-auto">
        {% csrf_token %}

        {% if form.errors %}
        <div class="flex p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800"
            role="alert">
            <svg class="w-5 h-5 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            <span class="font-medium">
                {% trans "The credentials you provided are incorrect. Please try again!" %}
            </span>
        </div>
        {% endif %}

        {% for field in form %}
        <div class="relative z-0 mb-8 mt-1 w-full group">
            <input
                type="{% if field.label == 'Email Address' or field.label == 'البريد الإلكتروني' %}email{% elif field.label == 'Password' or field.label == 'كلمة المرور' %}password{% else %}text{% endif %}"
                name="{{field.name}}" id="floating_email"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" " required />
            <label for="floating_email"
                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">{{field.label}}</label>
        </div>
        {% endfor %}
        <p class="text-gray-800 mb-5">
            {% trans "Don't have an account? Register" %} <a href="{% url 'account:register' %}" class="text-blue-900"> {% trans "here" %}.</a>
        </p>
        <button type="submit"
            class="w-full text-white flex font-bold bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-md px-5 py-3 justify-center">
            {% trans "Sign in" %}
            <svg class="w-6 h-6 mx-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1">
                </path>
            </svg>
        </button>

    </form>
</div>

{% endblock content %}