{% extends '_base.html' %}

{% load i18n %}
{% get_current_language as CURRENT_LANGUAGE %}

{% block title %}
{{ research.name_en }}
{% endblock title %}

{% block content %}

<div class="container mx-auto pt-5">
    <h1 class="text-4xl font-bold text-gray-700 mt-4">
        {% if CURRENT_LANGUAGE == 'en' %}
        {{research.name_en}}
        {% else %}
        {{research.name_ar}}
        {% endif %}
    </h1>
    <p class="flex text-sm text-gray-500 mt-8">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="w-5 h-5 mr-1">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
        </svg>
        {{ research.created|date }}
    </p>

    <p class="flex text-sm text-gray-500 mt-4">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="w-5 h-5 mr-1">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M9.568 3H5.25A2.25 2.25 0 003 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 005.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 009.568 3z" />
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6z" />
        </svg>
        {% if CURRENT_LANGUAGE == 'en' %}
        {{ research.category.name_en }}
        {% else %}
        {{ research.category.name_ar }}
        {% endif %}
    </p>
    {% if research.content_en %}

    <div class="w-full rounded-lg p-4 border border-gray-300 shadow-md mt-10">
        <p class="text-md text-gray-700">
            {% if CURRENT_LANGUAGE == 'en' %}
            {{ research.content_en }}
            {% else %}
            {{ research.content_ar }}
            {% endif %}
        </p>
    </div>

    {% endif %}

    {% if research.file %}

    <p class="text-md text-gray-700 mt-10 text-xl font-bold">
        {% trans "Download Reseach File" %}
    </p>
    <div class="mt-6">
        <a href="{{research.file.url}}" download
            class="flex w-32 text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
            <svg class="w-5 h-5 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 10v6m0 0l-3-3m3 3l3-3m2 8H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z">
                </path>
            </svg>
            {% trans "Download" %}
        </a>
    </div>

    {% endif %}

</div>

{% endblock content %}